/* orderTable.css */

.food-establishments-table {
    margin-top: 20px;
    margin-bottom: 40px;
}

.food-establishments-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.food-establishments-table th,
.food-establishments-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.food-establishments-table th {
    background-color: #f1f1f1;
    font-size: 18px;
    color: #333;
}

.food-establishments-table td {
    font-size: 16px;
    color: #666;
}

.food-establishments-table tbody tr:hover {
    background-color: #f9f9f9;
}

.food-establishments-table tbody tr:last-child td {
    border-bottom: none;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}


.action-button {
    font-weight: bold;
    font-size: 16px;
    width: 85px;
    background-color: #53883a;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #296b0b;
}

.view-button {
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 25px;
    background-color: #53883a;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: #296b0b;
}

.food-establishments-table p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.food-establishments-table h2 {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 15px;
}

.food-establishments-table .no-orders {
    text-align: center;
    color: #666;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.food-establishments-table .no-orders-text {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #3f3f3f;
}

.food-establishments-table .small-text {
    font-size: 15px;
    color: #999;
}


.food-establishments-table .status-cell {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 10px;
}

.food-establishments-table .status-cell.pending {
    font-weight: bold;
    color: #c48206;
    background-color: #fadeac;
}

.food-establishments-table .status-cell.completed {
    font-weight: bold;
    color: #18ad18;
    background-color: #a7f8a7;
}

.food-establishments-table .status-cell.canceled {
    font-weight: bold;
    color: #ff3044;
    background-color: #ffc5ca;
}

.search-container {
    margin: 10px 0;
}

.search-container input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 300px;
    margin-right: 10px;
}