.navbar {
    background-color: #fff7e3;
    height: 50px;
    /* border: 1px solid #40792d; */
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    /* Align items to the right */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Use flexbox for the list items */
}

.navbar ul li {
    margin-top: 15px;
    margin-left: 50px;
    /* Add spacing between links */
}

.navbar ul li:last-child {
    margin-right: 0;
    /* Remove margin from the last link */
}

.navbar ul li a {
    color: #000000;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}